@using uLearn
@using uLearn.PeerAssasments
@model uLearn.Web.Models.PeerAssasmentModels.PeerAssasmentModel
@{
    var isPropositionWriting = Model.StepType == PeerAssasmentStepType.PropositionWriting;
    var isReview = Model.StepType == PeerAssasmentStepType.Review;
}

@if (string.IsNullOrEmpty(Model.UserProposition))
{
    <p>Напишите ваш тезис</p>
}
else
{
    <p>Ваш тезис</p>
}

@Html.Raw(Model.PA.Proposition.RenderMd())
@if(isPropositionWriting)
{
    <textarea class='markdown-input'>@Model.UserProposition</textarea>
    <div class="control-buttons">
        <button type="button" class="submit-peerAssasement-button btn btn-primary no-rounds"
                data-url="@Url.Action("SubmitProposition", "PeerAssasment", new { courseId = Model.CourseId, peerAssasmentId = Model.PA.Id})">
            SUBMIT
        </button>
    </div>
}
else
{
    @Html.Raw(Model.UserProposition.RenderMd())
}

@if (!isPropositionWriting)
{
    <p>Чужой тезис</p>

    @Html.Raw(Model.UserReview.OtherUserProposition.RenderMd())
    
    <p>Review</p>
    
    if (isReview)
    {
        <textarea class='markdown-input'>@Model.UserReview.Review</textarea>
        <div class="control-buttons">
            <button type="button" class="submit-peerAssasement-button btn btn-primary no-rounds"
                    data-url="@Url.Action("SubmitReview", "PeerAssasment", new { courseId = Model.CourseId, peerAssasmentId = Model.PA.Id, answerId = Model.UserReview.OtherUserPropositionId})">
                SUBMIT
            </button>
        </div>
    }
    else
    {
        @Html.Raw(Model.UserReview.Review.RenderMd())
    }
}
