@using uLearn
@using uLearn.PeerAssasments
@model uLearn.Web.Models.PeerAssasmentModels.PeerAssasmentModel

@if (string.IsNullOrEmpty(Model.UserProposition))
{
    <p>Напишите ваш тезис</p>
}
else
{
    <p>Ваш тезис</p>
}

@Html.Raw(Model.PA.Proposition.RenderMd())

@if (Model.StepType <= PeerAssasmentStepType.PropositionWriting)
{
    <textarea class='markdown-input'>@Model.UserProposition</textarea>
    <div class="control-buttons">
        <button type="button" class="submit-peerAssasement-button btn btn-primary no-rounds"
                data-url="@Url.Action("SubmitProposition", "PeerAssasment", new { courseId = Model.CourseId, peerAssasmentId = Model.PA.Id})">
            SUBMIT
        </button>
    </div>
}
else
{
    @Html.Raw(Model.UserProposition.RenderMd())
    @Html.Partial("ReviewView")
}