@using uLearn
@using uLearn.PeerAssasments
@using uLearn.Web.Models.PeerAssasmentModels
@model PeerAssasmentModel
@{
    var submitModel = new PeerAssasmentSubmitModel
    {
        InitialValue = @Model.UserProposition,
        SubmitUrl = @Url.Action("SubmitProposition", "PeerAssasment", new { courseId = Model.CourseId, peerAssasmentId = Model.PA.Id })
    };
}
@if (string.IsNullOrEmpty(Model.UserProposition))
{
    <p>Напишите ваш тезис</p>
}
else
{
    <p>Ваш тезис</p>
}
@Html.Raw(Model.PA.Proposition.RenderMd())
@if (Model.StepType <= PeerAssasmentStepType.PropositionWriting)
{
    @Html.Partial("PeerAssasmentSubmitView", submitModel)
}
else
{
    @Html.Raw(Model.UserProposition.RenderMd())
    @Html.Partial("ReviewView")
}