@using uLearn.Web.Models.PeerAssasmentModels
@using uLearn.Web.Views.PeerAssasment
@model uLearn.Web.Models.PeerAssasmentModels.ReviewModel
@{
    var param = new { courseId = ViewBag.CourseId, peerAssasmentId = ViewBag.PeerAssasmentId };
    var updateTargetId = "reviewId";
    var reloadReview = "reloadReview";
    var submit = new PostActionButtonModel
    {
        PostUrl = Url.Action("SubmitReview", "PeerAssasment", param),
        UpdateTargetId = updateTargetId,
        OnSuccess = reloadReview,
        Text = "SUBMIT"
    };
    var save = new PostActionButtonModel
    {
        PostUrl = Url.Action("SaveReview", "PeerAssasment", param),
        UpdateTargetId = updateTargetId,
        OnSuccess = reloadReview,
        Text = "SAVE"
    };
}

<div id="@save.UpdateTargetId">
    <p>Тезис:</p>
    <span id="other-proposition">@Html.Raw(Model.TextForReview)</span>
    <p>Ревью:</p>
    @using (Html.BeginForm())
    {
        @Html.TextAreaFor(model => model.Text, new Dictionary<string, object>
        {
            { "id", "review-text" },
            { "class", "markdown-input" }
        })
        <p>Оцените:</p>

        for (var i = 0; i < Model.Marks.Length; i++)
        {
            <div>
                @{
                    var len = Model.Marks[i].MaxMark - Model.Marks[i].MinMark + 1;
                    var items = new SelectListItem[len];
                    for (var l = 0; l < len; l++)
                    {
                        var current = (Model.Marks[i].MinMark + l).ToString();
                        items[l] = new SelectListItem
                        {
                            Text = current,
                            Selected = current == Model.Marks[i].Mark,
                            Value = current
                        };
                    }
                }
                @Html.Raw(Model.Marks[i].Criterion)
                @Html.TextBoxFor(x => x.Marks[i].Criterion, new { hidden = true })
                @Html.DropDownListFor(x => x.Marks[i].Mark, items)
            </div>
        }

        @Html.PostActionButtonFor(save)
        @Html.PostActionButtonFor(submit)
    }
</div>